/* CS6410 Final Project Bryce Paubel 5/3/22 */
/* This is a simple stylesheet for the project */

body {
	font-family: "Courier New";
}

h1 {
	text-align: center;
}

#wrapper {
	display: flex; 
	flex-direction: row; 
	justify-content: center;
	align-items: center;
}

#diffuseCanvas {
	margin: 0.5em;
	width: 512px;
	height: 512px;
	box-shadow: 0px 0px 15px 0px;
}

#normalCanvas {
	margin: 0.5em;
	width: 512px;
	height: 512px;
	box-shadow: 0px 0px 15px 0px;
}

#linkDiv {
	padding-top: 0.5em;
	text-align: center;
}

#buttonDiv {
	padding-top: 0.5em;
	display: flex; 
	flex-direction: row; 
	justify-content: center;
	align-items: center;
}

#downloadDiffuse {
	font-family: "Courier New";
	margin-right: 200px;
}

#downloadNormal {
	font-family: "Courier New";
	margin-left: 200px;
}